@import '../Vars.scss';

.header {
  background: #000000e8;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

.header-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.mm-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mm-header-logo {
  max-width: 240px;
  padding: 28px 0;

  .mm-logo-img {
    width: 100%;
  }
}

.mm-header-nav {
  display: flex;
  gap: 16px;
}

.mm-header-link {
  color: #fff;
  text-decoration: none;
  font-weight: $gilroy-bold;
  font-size: 16px;
  line-height: 100%;
  padding: 8px 12px 4px;
  transition: all 0.3s ease;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, $mm-purple-light 0%, $mm-green-light 100%);
    transition: width 0.3s ease;
  }

  &:hover {
    color: $mm-green-light;

    &::after {
      width: 100%;
    }
  }

  &.mm-header-link-accent {
    background-color: #1bb3a7;
    color: #151515;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    padding: 8px 12px;

    &::after {
      display: none;
    }

    &:hover {
      color: #fff;
      background-color: $mm-purple-light;
    }
  }
} 