@import './Vars.scss';

.brands {
  .t-38 {
    text-align: center;
    margin-bottom: 20px !important;
  }
  .t-18 {
    text-align: center;
    max-width: 920px;
    margin: 0 auto 90px !important;
  }
  .brands-tabs {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
    justify-content: center;

    .brands-tab {
      background: none;
      border: 2px solid $mm-purple-light;
      color: $mm-purple-light;
      padding: 12px 24px;
      border-radius: 12px;
      font-size: 18px;
      font-family: 'Gilroy', 'Montserrat', 'Arial', sans-serif;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.4s;
      
      &:hover {
        background: $mm-green-light;
        border: 2px solid $mm-green-light;
        transform: translateY(-4px);
      }
      &.active {
        background: $mm-purple-light;
        border: 2px solid $mm-purple-light;
        color: $white;
      }
    }
  }

  .brands-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;

    .brand-card {
      flex: 1 1 250px;
      background: rgba(24,24,24,0.85);
      border: 2px solid $mm-purple;
      border-radius: 24px;
      padding: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .brand-logo {
        width: 100%;
        max-width: 240px;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
      }

      h3 {
        font-size: 30px;
        font-weight: $gilroy-bold;
        margin-bottom: 16px;
        text-align: center;
      }
      p {
        color: $white;
        text-align: center;
        font-size: 18px;
      }
    }
  }
} 