@import './Vars.scss';

.founders-section {
  background-color: #151515;
}
.founders {
  padding: 120px 40px;
  position: relative;
  background: #151515;

  @media (max-width: 768px) {
    padding: 80px 20px;
  }

  .section-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: $gilroy-bold;
    color: #fff;
  }
  .section-description {
    text-align: center;
    max-width: 920px;
    margin: 0 auto 60px;
    font-size: 18px;
    color: #fff;
  }

  .founders-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    
    .founder-card {
      flex: 1 1 450px;
      max-width: 550px;
      background: rgba(24,24,24,0.85);
      border: 2px solid $mm-purple;
      border-radius: 24px;
      padding: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      overflow: hidden;

      @media (max-width: 768px) {
        padding: 32px 24px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #151515;
        opacity: 0.85;
      }

      .founder-photo {
        width: 280px;
        height: 280px;
        position: relative;
        z-index: 1;

        @media (max-width: 768px) {
          width: 220px;
          height: 220px;
        }
        
        &-container {
          border-radius: 50%;
          border: 4px solid $mm-purple-light;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }

      .founder-name {
        font-size: 32px;
        font-weight: 700;
        margin: 40px 0 40px;
        text-align: center;
        position: relative;
        z-index: 1;
        background: linear-gradient(90deg, $mm-purple-light 0%, $mm-green-light 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 10px 20px;
        max-width: fit-content;

        @media (max-width: 768px) {
          font-size: 28px;
          margin: 24px 0;
        }

        &::after {
          content: '';
          display: block;
          width: calc(100% + 18px);
          height: calc(100% + 6px);
          border: 2px solid $mm-purple-light;
          position: absolute;
          top: -3px;
          left: -7px;
          z-index: -1;
        }
        
        &::before {
          content: '';
          display: block;
          width: calc(100% + 18px);
          height: calc(100% + 6px);
          border: 2px solid $mm-green-light;
          position: absolute;
          top: -8px;
          left: -12px;
          z-index: -1;
        }
      }

      .founder-title {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        max-width: fit-content;
        position: relative;
        color: #fff;
        margin: 0 auto 32px;
        z-index: 1;

        @media (max-width: 768px) {
          font-size: 18px;
          margin-bottom: 24px;
        }
      }

      .founder-description {
        color: #fff;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        
        @media (max-width: 768px) {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 24px;
        }

        strong {
          color: $mm-green-light;
          font-weight: 700;
        }
      }
    }
  }
} 