// Color palette
$mm-purple: #491F43;
$mm-green: #3D5F51;
$mm-purple-light: #7F008B;
$mm-green-light: #A7E5CB;
$mm-bg: #333;
$white: #fff;

// Gilroy font weights
$gilroy-light: 300;
$gilroy-regular: 400;
$gilroy-bold: 700;
$gilroy-extrablack: 900;

// Section and heading styles
section {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-family: 'Gilroy', 'Montserrat', 'Arial', sans-serif;
  font-weight: $gilroy-extrablack;
}
h2, h3 {
  font-family: 'Gilroy', 'Montserrat', 'Arial', sans-serif;
  font-weight: $gilroy-bold;
}

b, strong {
  font-family: 'Gilroy', 'Montserrat', 'Arial', sans-serif;
  font-weight: $gilroy-bold;
}

.gilroy-light {
  font-family: 'Gilroy', 'Montserrat', 'Arial', sans-serif;
  font-weight: $gilroy-light;
} 

h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.up {
  text-transform: uppercase;
}

.pv {
  padding-top: 96px;
  padding-bottom: 96px;
}

.t-18 {
  font-size: 18px;
  line-height: 150%;
}

.t-38 {
  font-size: 38px;
  line-height: 120%;
  font-weight: $gilroy-bold;
}